.filter-buttons {
    display: flex;
    flex-wrap: wrap; /* Дозволяє кнопкам переноситися на нові рядки */
    justify-content: center; /* Центрування кнопок по горизонталі */
    gap: 15px; /* Відстань між кнопками */
  }
  
  .filter-buttons button {
    margin: 10px;
    padding: 5px;
    background: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px; /* Розмір тексту кнопки */
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .filter-buttons button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(255, 87, 34, 0.6);
  }
  .filter-buttons img{
    width: auto;
    height: 40px;
    margin-right: 10px;
  }
  
  .custom-button {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Вирівнювання контенту всередині кнопки */
  }