@media screen and (max-width: 768px) {
    nav .nav-links{
        display: none;
    }
    .burger-menu {
      display: flex; /* Показуємо бургер */
    }
  
    .mobile-nav.open {
      display: flex; /* Показуємо панельку при відкритті */
    }
    .modal-content {
      width: 95%;
  }

  .modal-heading {
      font-size: 1.5rem;
  }

  .auth-button {
      font-size: 1rem;
  }
  
  }